html, body, #root {
  font: 1rem 'Arial';
  background: #0a1f44;
  color: #DCDCDC;
  height: 100%;
  margin: 0;
}

.main-container {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.418) ), url('./res/leaves_wallpaper.jpg');
  background-size: cover;
  background-position: center;
}

.main-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-al-c {
    text-align: center;
}

@font-face {
  font-family: 'Arial';
  src: url('./res/fonts/arial/Arial.eot');
  src: local('./res/fonts/arial/Arial'), url('./res/fonts/arial/Arial.woff') format('woff'), url('./res/fonts/arial/Arial.ttf') format('truetype');
}
